<configuration>

    <appSettings>
      <!-- This triggers the registration of these components in the "DefaultStorePath" (if DefaultStorePath is not defined it is set to "LocalStores/Default").
           Note that the LibWithSampleModel.Tests.csproj ensures that CK.StObj.Model/Runtime/Engine and Sample.Model/Engine are built thanks to:

            <ProjectReference Include="..\..\..\StObjEngineTesting\Tests\Sample.Engine.Tests\Sample.Engine.Tests.csproj" ReferenceOutputAssembly="false" Private="false" />
      -->
      <add key="CKSetup/AutoRegisterLocalComponentPaths"
           value="{SolutionFolder}/CK.StObj.Model/{PathToBin};
                  {SolutionFolder}/CK.StObj.Runtime/{PathToBin};
                  {SolutionFolder}/CK.StObj.Engine/{PathToBin};
                  {SolutionFolder}/Tests/StObjEngineTesting/Sample.Model/{PathToBin};
                  {SolutionFolder}/Tests/StObjEngineTesting/Sample.Engine/{PathToBin}
                  " />
    </appSettings>

</configuration>
