<configuration>

    <appSettings>
      <!-- This triggers the registration of these components in the "DefaultStorePath" (if DefaultStorePath is not defined it is set to "LocalStores/Default").
           Note that the LibWithSampleModel.Tests.csproj ensures that CK.StObj.Model/Runtime/Engine and Sample.Model/Engine are built thanks to:

            <ProjectReference Include="..\..\..\StObjEngineTesting\Tests\Sample.Engine.Tests\Sample.Engine.Tests.csproj" ReferenceOutputAssembly="false" Private="false" />
      -->
      <add key="CKSetup/AutoRegisterLocalComponentPaths"
           value="{SolutionFolder}/CK.StObj.Model/bin/{BuildConfiguration}/net6.0;
                  {SolutionFolder}/CK.StObj.Runtime/bin/{BuildConfiguration}/net6.0;
                  {SolutionFolder}/CK.StObj.Engine/bin/{BuildConfiguration}/net6.0;
                  {SolutionFolder}/Tests/StObjEngineTesting/Sample.Model/bin/{BuildConfiguration}/net6.0;
                  {SolutionFolder}/Tests/StObjEngineTesting/Sample.Engine/bin/{BuildConfiguration}/net6.0
                  " />
    </appSettings>

</configuration>
